#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<configtan xmlns="http://www.geishatokyo.com/2011/configtan">


    <msgpacks>
        <msgpack name="default">
            <host>0.0.0.0</host>
            <port>12481</port>
        </msgpack>

    </msgpacks>
    <databases>
        <shard name="default">
            <writer>
                <database host="mysql-cluster1.stage1.c.geishatokyo.com" port="3306" db="chabi_${parentArtifactId}">
                    <username>test</username>
                    <password>SenKosya</password>
                </database>
            </writer>
        </shard>
    </databases>


    <aws>
        <s3 name="movie">
            <bucketName>movie.stage1.chabi.me</bucketName>
            <accessKey>${symbol_dollar}{aws.s3.movie.accessKey}</accessKey>
            <secretKey>${symbol_dollar}{aws.s3.movie.secretKey}</secretKey>
        </s3>
    </aws>
</configtan>
